.list-item {
  color:black;
  background-color: white;
  width:100%;
  padding-top:25px;
  padding-bottom:25px;
}
.list-item div {
  padding-top: 25px;
  padding-bottom: 25px;
  display: inline-block;
}
.btn-minus {
  cursor: pointer;
  background-image: url(http://i.imgur.com/mFrFrzk.png);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  height:105px;
  width:15%;
}
.btn-plus {
  margin-left: 15%;
  cursor: pointer;
  background-image: url(http://i.imgur.com/QKDa0O9.png);
  background-size: 50%;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top:0;
  height:105px;
  width:15%;
}
.list-item-dropdown {
  position: relative;
}
.list-item-dropdown .list-item-name {
  margin-left: 30%;
  width:35%;
}
.list-item-name {
  width:65%;
}
.list-item-price {
  width: calc(15% - 50px);
  padding-right:25px;
  padding-left: 25px;
}
.list-item-quantity  {
  padding-left: 25px;
  width: calc(10% - 25px);
}
